@import "src/variable";

header{
  position: sticky;
  top: 5px;
  z-index: 3;
  margin: 0 10px;
  background-color: #fafaffcc;
  backdrop-filter: blur(5px);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  .header-wrapper{
    height: 68px;
    margin: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo-div{
      img{
        height: 36px;
      }
    }

    .link-div{
      .link-ul{
        display: flex;
        list-style-type: none;
        li{
          display: flex;
          align-items: center;
          justify-content: right;
          text-align: right;
          padding-left: 65px;
          &.menuIconLi{
            display: none;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  header{
    .header-wrapper {
      margin: 0 2.5rem !important;

      .link-div {
        .link-ul {
          display: flex;
          list-style-type: none;

          li {
            padding-left: 35px !important;
            &.menuIconLi{
              display: flex;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 450px) {

  header {

    margin: 0 5px;

    .header-wrapper {
      margin: 0 1rem !important;
    }
  }
}
