<header>
  <div class="header-wrapper">
    <div class="logo-div">
      <img src="https://user-images.githubusercontent.com/84829442/231095684-5613cea7-47de-4a13-b7d1-4a6e58ed0e03.png"
           alt="">
    </div>
    <div class="link-div">
      <ul class="link-ul">
        <li>
          <a href="" class="a-link active">Docs</a>
        </li>
        <li>
          <a href="" class="a-link">Support</a>
        </li>
        <li>
          <button class="btn btn-primary">Download</button>
        </li>
      </ul>
    </div>
  </div>
</header>
