@import "src/variable";
.menu{
  height: 100vh;

  .menu-link-container{
    padding: 20px 0 50px 50px;
    .menu-link-group{
      margin-bottom: 35px;
      .menu-link-header{
        font-weight: bold;
      }
      .menu-link{
        font-size: 13px;
        padding: 7px 0;
        margin: 0;
        transition: height 0.5s, border-right 0.2s;
        &.active{
          color: $primary-color;
        }
        &.active, &:hover{
          border-right: 5px solid $primary-color;
        }
      }
    }
  }
}
