$default-text-color: #555;
$bold-text-color: #333;
$primary-color: #0A6BFF;
$primary-dimmed-color: #0A6BFF11;
$color: #ffffff;
$soft-color: #fafafa;

$code-background-color: #161B22;

$default-border-radius: 5px;

$default-font-size: 15px;

